{% extends 'base.html' %}

{% load static %}

{% block title %}
| Exam
{% endblock %}

{% block content %}

<style>
  .breadcrumb-item + .breadcrumb-item::before {
    content: "";
  }
</style>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" style="box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); background-color: #166339;">
        <li class="breadcrumb-item">
          <a class="text-white" href="{% url 'calendar' %}">
            <i class="fas fa-home"></i> Home</a>
            <i class="fas fa-chevron-circle-right mx-2 text-white" aria-hidden="true"></i>
        </li>
        <li class="breadcrumb-item p-0">
          <a class="text-white" href="{% url 'exam_list' %}">Exams</a>
          <i class="fas fa-chevron-circle-right mx-2 text-white" aria-hidden="true"></i>
        </li>
        {% if  form.exam_id.value %}
        <li class="breadcrumb-item active text-white-50 p-0">{{ form.title.value }}</li>
        {% else %}
        <li class="breadcrumb-item active text-white-50 p-0">New</li>
        {% endif %}
      </ol>
    </nav>
  </div>
</section>

<!-- Exam Section -->
<section id="exam-detail" class="py-4 main-content">

  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

  <div class="container">
    <div class="card shadow">
      <div class="card-header text-white text-center" style="background-color: #133757;">
        <h4>Exam</h4>
      </div>
      <div class="card-body">
        {% if  form.exam_id.value %}
        <h3 class="card-title">Editing Exam: {{ form.title.value }}</h3>
        {% else %}
        <h3 class="card-title">Create New Exam</h3>
        {% endif %}

        <!-- Tab Content -->
        <div class="tab-content" id="pills-tabContent">
          <!-- Detail -->
          <div class="tab-pane fade show active" id="detail" role="tabpanel" aria-labelledby="pills-detail">
            <form method="POST">
              {% csrf_token %}
              {{ form.exam_id }}
              <div class="row mb-2">
                <div class="col-12">
                  <label for="{{ form.title.name }}" class="col-form-label">
                    {{ form.title.label }}{% if form.title.field.required %}<span class="required">*</span>{% endif %}
                  </label>
                  {{ form.title }}
                </div>
                <div class="col-12">
                  <label for="{{ form.description.name }}" class="col-form-label">
                    {{ form.description.label }}{% if form.description.field.required %}<span
                      class="required">*</span>{% endif %}
                  </label>
                  {{ form.description }}
                </div>
              </div>

              <!-- Event and Course -->
              <div class="row mb-4">
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <label for="{{ form.event.name }}" class="col-form-label">
                    {{ form.event.label }}{% if form.event.field.required %}<span class="required">*</span>{% endif %}
                  </label>
                  {{ form.event }}
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <label for="{{ form.course.name }}" class="col-form-label">
                    {{ form.course.label }}{% if form.course.field.required %}<span class="required">*</span>{% endif %}
                  </label>
                  {{ form.course }}
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <label for="{{ form.exam_number.name }}" class="col-form-label">
                    {{ form.exam_number.label }}{% if form.exam_number.field.required %}<span
                      class="required">*</span>{% endif %}
                  </label>
                  {{ form.exam_number }}
                </div>
              </div>

              <!-- Predicted -->
              <h5>Predicted</h5>
              <div class="row mb-4">
                <div class="col-md-4 col-sm-12">
                  <label for="{{ form.predicted_study_hours.name }}" class="col-form-label">
                    {{ form.predicted_study_hours.label }}{% if form.predicted_study_hours.field.required %}<span
                      class="required">*</span>{% endif %}
                  </label>
                  {{ form.predicted_study_hours }}
                </div>
                <div class="col-md-4 col-sm-12">
                  <label for="{{ form.absences.name }}" class="col-form-label">
                    {{ form.absences.label }}{% if form.absences.field.required %}<span
                      class="required">*</span>{% endif %}
                  </label>
                  {{ form.absences }}
                </div>
                <div class="col-md-4 col-sm-12">
                  <label for="{{ form.predicted_score.name }}" class="col-form-label">
                    {{ form.predicted_score.label }}{% if form.predicted_score.field.required %}<span
                      class="required">*</span>{% endif %}
                  </label>
                  {{ form.predicted_score }}
                </div>
                <div class="col-md-6 col-sm-12">
                  <button class="btn btn-block btn-primary mt-4" id="predict-hours">Predict Study Hours</button>
                </div>
                <div class="col-md-6 col-sm-12">
                  <button class="btn btn-block btn-primary mt-4" id="predict-score">Predict Exam Score</button>
                </div>
              </div>

              <!-- Final -->
              <h5>Final</h5>
              <div class="row mb-4">
                <div class="col-lg-6 col-md-4 col-sm-12">
                  <label for="{{ form.final_study_hours.name }}" class="col-form-label">
                    {{ form.final_study_hours.label }}{% if form.final_study_hours.field.required %}<span
                      class="required">*</span>{% endif %}
                  </label>
                  {{ form.final_study_hours }}
                </div>
                <div class="col-lg-6 col-md-4 col-sm-12">
                  <label for="{{ form.final_score.name }}" class="col-form-label">
                    {{ form.final_score.label }}{% if form.final_score.field.required %}<span
                      class="required">*</span>{% endif %}
                  </label>
                  {{ form.final_score }}
                </div>
              </div>

              <!-- Start and End Times for Study -->
              <h5>Valid Study Range Period</h5>
              <div class="row mb-4">
                <div class="col-md-6 col-sm-12">
                  <label for="{{ form.start_time.name }}" class="col-form-label">
                    {{ form.start_time.label }}{% if form.start_time.field.required %}<span
                      class="required">*</span>{% endif %}
                  </label>
                  {{ form.start_time }}
                </div>
                <div class="col-md-6 col-sm-12">
                  <label for="{{ form.end_time.name }}" class="col-form-label">
                    {{ form.end_time.label }}{% if form.end_time.field.required %}<span
                      class="required">*</span>{% endif %}
                  </label>
                  {{ form.end_time }}
                </div>
              </div>

              <button type="submit" id="save-exam-btn" class="btn btn-block btn-success mt-4">Save</button>

            </form>

            {% if form.exam_id.value %}
            <a href="javascript:{document.getElementById('remove').submit()}"" id="remove-exam-btn" class=" btn btn-block btn-danger
              text-white mt-4">Remove</a>
            <form action="{% url 'exam_remove' %}" id="remove" method="POST">
              {% csrf_token %}
              {{ form.exam_id }}
              <input type="hidden" name="is_detail" value="true">
              <input type="hidden">
            </form>
            {% endif %}

          </div>
          {% if notes %}
          <!-- Notes -->
          <div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="pills-notes">
            <table id="note-list" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Exam</th>
                  <th scope="col">Created Date</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>

                <!-- Display notes -->
                {% if notes %}

                {% for note in notes %}

                <tr>
                  <td>{{ note.title }}</td>
                  <td>{{ note.exam }}</td>
                  <td>{{ note.created_date }}</td>
                  <!-- Call detail view method (Uses urls path name) -->
                  <td><a href="{% url 'note_detail' note.id %}"><i class="fas fa-info-circle show-note-detail"></i></a>
                  </td>
                </tr>

                {% endfor %}

                {% else %}

                <!-- No notes message? -->

                {% endif %}

              </tbody>
            </table>
          </div>
          {% if events %}
          <!-- Events -->
          <div class="tab-pane fade" id="events" role="tabpanel" aria-labelledby="pills-events">
            <table id="event-list" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Exam</th>
                  <th scope="col">Created Date</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>

                <!-- Display events -->
                {% if events %}

                {% for event in events %}

                <tr>
                  <td>{{ event.title }}</td>
                  <td>{{ event.exam }}</td>
                  <td>{{ event.created_date }}</td>
                  <!-- Call detail view method (Uses urls path name) -->
                  <td><a href="{% url 'event_detail' event.id %}"><i
                        class="fas fa-info-circle show-event-detail"></i></a></td>
                </tr>

                {% endfor %}

                {% else %}

                <!-- No events message? -->

                {% endif %}

              </tbody>
            </table>
          </div>
          {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

<script src="{% static 'js/exams.js' %}"></script>

{% endblock %}