{% extends 'base.html' %}

{% block title %}
  | Events
{% endblock %}

{% block content %}

{% load static %} 

<!-- Current Day Modal -->
<div class="modal fade" id="current-day-modal" tabindex="-1" role="dialog" aria-labelledby="current-day-modal-label" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
    <div class="modal-header current-day-header">
        <h5 class="modal-title" id="current-day-modal-label">Day</h5>
        <i class="fas fa-arrow-left fa-2x cursor-pointer d-none" id="event-form-back"></i>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body current-day-body">

      <div id="current-day-event-list">
        <div class="current-day text-center">
            <h1 class="current-day-number"></h1>
            <div class="current-day-of-week"></div>
        </div>
        <div class="current-day-events">
            <div>Current Events:</div>
            <div class="list-group current-day-events-list"></div>
        </div>
      </div>

      <div id="current-day-add-event-form" class="d-none">
        <h3 class="text-center">Event</h3>
        <form method="POST" id="event-form">
          {% csrf_token %}
          {{ form.event_id }}
          <div class="row">
            <div class="col-12">
              <label for="{{ form.title.name }}" class="col-form-label">
                {{ form.title.label }}{% if form.title.field.required %}<span class="required">*</span>{% endif %}
              </label>
              {{ form.title }}
            </div>
            <div class="col-12">
              <label for="{{ form.description.name }}" class="col-form-label">
                {{ form.description.label }}{% if form.description.field.required %}<span class="required">*</span>{% endif %}
              </label>
              {{ form.description }}
            </div>
            <div class="col-6">
              <label for="{{ form.event_type.name }}" class="col-form-label">
                {{ form.event_type.label }}{% if form.event_type.field.required %}<span class="required">*</span>{% endif %}
              </label>
              {{ form.event_type }}
            </div>
            <div class="col-6">
              <label for="{{ form.repeat_type.name }}" class="col-form-label">
                {{ form.repeat_type.label }}{% if form.repeat_type.field.required %}<span class="required">*</span>{% endif %}
              </label>
              {{ form.repeat_type }}
            </div>
            <div class="col-12">
              <label for="{{ form.start_date.name }}" class="col-form-label">
                {{ form.start_date.label }}{% if form.start_date.field.required %}<span class="required">*</span>{% endif %}
              </label>
              {{ form.start_date }}
            </div>

            <!-- Show only if the event is completed -->
            <div class="col-12 d-none" id="end_date_field">
              <label for="{{ form.end_date.name }}" class="col-form-label">
                {{ form.end_date.label }}{% if form.end_date.field.required %}<span class="required">*</span>{% endif %}
              </label>
              {{ form.end_date }}
            </div>

            <div class="col-6">
              <label for="{{ form.start_time.name }}" class="col-form-label">
                {{ form.start_time.label }}{% if form.start_time.field.required %}<span class="required">*</span>{% endif %}
              </label>
              {{ form.start_time }}
            </div>
            <div class="col-6">
              <label for="{{ form.end_time.name }}" class="col-form-label">
                {{ form.end_time.label }}{% if form.end_time.field.required %}<span class="required">*</span>{% endif %}
              </label>
              {{ form.end_time }}
            </div>
          </div>
    
          <button type="submit" class="btn btn-block btn-secondary mt-4" id="save-event-form-btn">Save</button>
        </form>
      </div>

    </div>
    <div class="modal-footer current-day-footer">
      <button type="submit" class="btn btn-primary add-event-day-btn">New Event</button>
    </div>
    </div>
</div>
</div>

<!-- Calendar -->
<section id="calendar" class="disable-selection main-content">

  <div class="container-xl">

      <div class="calendar-change-year">
          <div class="calendar-change-year-slider">
              <button class="btn btn-primary calendar-today-btn">Today</button>
              <i class="fas fa-caret-left cursor-pointer calendar-change-month-slider-prev mx-2"></i>
              <i class="fas fa-caret-right cursor-pointer calendar-change-month-slider-next mx-2"></i>
              <span class="calendar-current-month"></span>
              <span class="calendar-current-year"></span>
              
          </div>
      </div>

      <div class="calendar-week-list">
      </div>

      <div class="calendar-day-list">
      </div>

  </div>

</section>

<form action="{% url 'event_remove' %}" method="POST" id="event-remove">
  {% csrf_token %}
  <input type="hidden">
</form>

{{ events | json_script:"calendar-events" }}

<script src="{% static 'js/calendar.js' %}"></script>

{% endblock %}
