{% extends 'base.html' %}

{% load static %}

{% block title %}
  | Notes
{% endblock %}

{% block content %}

<!-- Alerts -->
{% include 'partials/_alerts.html' %}

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'calendar' %}">
            <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item active"> Note List</li>
      </ol>
    </nav>
  </div>
</section>

<!-- Note Section -->
<section id="notes" class="py-4 main-content">
  <div class="container">
    <div class="row justify-content-between pb-4 mx-0">
      <h2>Notes</h2>
      <a class="btn btn-secondary" href="{% url 'note_search' %}">Search Notes</a>  
      <a class="btn btn-secondary" href="{% url 'note_detail' %}">New Note</a>   
    </div>

    <!-- Note List -->
    <table id="note-list" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Event</th>
          <th scope="col">Created Date</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>

        <!-- Display notes -->
        {% if notes %}

          {% for note in notes %}

            <tr note-id="{{ note.id }}">
              <td>{{ note.title }}</td>
              <td>{{ note.event }}</td>
              <td>{{ note.created_date }}</td>
              <!-- Call detail view method (Uses urls path name) -->
              <td>
                <div class="grid-actions text-center">
                  <a href="{% url 'note_detail' note.id %}"><i class="fas fa-info-circle cursor-pointer show-note-detail"></i></a>
                  <i class="fas fa-trash-alt cursor-pointer text-danger remove-note mr-2"></i>
                </div>
              </td>
            </tr>

          {% endfor %}

        {% else %}

          <!-- No notes message? -->

        {% endif %}

      </tbody>
    </table>

    <!-- Pagination (42) -->
    <div class="row">
      <div class="col-md-12">

        <!-- Check if there are other pages -->
        {% if notes.has_other_pages %}
          <ul class="pagination">
            {% if notes.has_previous %}
              <!-- Previous Button -->
              <li class="page-item">
                <a href="?page={{notes.previous_page_number}}" class="page-link">&laquo;</a>
              </li>
            {% else %}
              <!-- Disabled arrow -->
              <li class="page-item disabled">
                <a class="page-link">&laquo;</a>
              </li>
            {% endif %}

            {% for i in notes.paginator.page_range %}
              {% if notes.number == i %}
                <!-- Active link -->
                <li class="page-item active">
                  <a class="page-link">{{i}}</a>
                </li>
                {% else %}
                <!-- Not active link -->
                  <li class="page-item">
                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                  </li>
              {% endif %}
            {% endfor %}

            {% if notes.has_next %}
              <!-- Next Button -->
              <li class="page-item">
                <a href="?page={{notes.next_page_number}}" class="page-link">&raquo;</a>
              </li>
            {% else %}
              <!-- Disabled arrow -->
              <li class="page-item disabled">
                <a class="page-link">&raquo;</a>
              </li>
            {% endif %}
          </ul>
        {% endif %}

      </div>
    </div>

  </div>
</section>

<script src="{% static 'js/notes.js' %}"></script>

{% endblock %}
