{% extends 'base.html' %} 

{% load static %} 

{% block title %} 

| Note Search 

{% endblock %} 

{% block content %}

<!-- Alerts -->
{% include 'partials/_alerts.html' %}

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'calendar' %}"> <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'note_list' %}">Notes</a>
        </li>
        <li class="breadcrumb-item active">Search</li>
      </ol>
    </nav>
  </div>
</section>

<!-- Note Section -->
<section id="notes" class="py-4 main-content">
  <div class="container">
    <div class="card shadow">
      <div
        class="card-header text-white text-center"
        style="background-color: #133757;"
      >
        <h3>Note Search</h3>
      </div>
      <!-- Note Search form Section -->
      <div class="card-body">
        <div class="d-flex justify-content-center">
          <form action="{% url 'note_search' %}" style="width: 700px;">
            {% csrf_token %}
            <div class="row pb-4">
              <div class="col-md-6 col-sm-12">
                <label for="{{ form.title.name }}" class="col-form-label">
                  {{ form.title.label }}
                </label>
                {{ form.title }}
              </div>
              <div class="col-md-6 col-sm-12">
                <label
                  for="{{ form.created_date.name }}"
                  class="col-form-label"
                >
                  {{ form.created_date.label }}
                </label>
                {{ form.created_date }}
              </div>
            </div>

            <button type="submit" class="btn btn-block btn-success mb-4">
              Search
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- Note List -->
    <div class="mx-0 shadow">
      <div class="align-items-center row mx-0 bg-dark" style="height: 50px;">
        <h4 class="text-light ml-3">Results:</h4>
      </div>
      <table id="note-list" class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Created Date</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <!-- Display notes -->
          {% if notes %} {% for note in notes %}

          <tr>
            <td>{{ note.title }}</td>
            <td>{{ note.created_date }}</td>
            <!-- Call detail view method (Uses urls path name) -->
            <td>
              <a href="{% url 'note_detail' note.id %}"
                ><i class="fas fa-info-circle show-note-detail"></i
              ></a>
            </td>
          </tr>

          {% endfor %} {% else %}

          <!-- No notes message? -->
          <tr>
            <td colspan="10">
              <h4 class="text-center">No Results</h4>
            </td>
          </tr>

          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</section>

<script src="{% static 'js/notes.js' %}"></script>

{% endblock %}
