{% extends 'base.html' %}

{% block content %}

<!-- Alerts -->
{% include 'partials/_alerts.html' %}

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'calendar' %}">
            <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'note_list' %}">Notes</a>
        </li>
        {% if  form.note_id.value %}
        <li class="breadcrumb-item active">{{ form.title.value }}</li>
        {% else %}
        <li class="breadcrumb-item active">New</li>
        {% endif %}
      </ol>
    </nav>
  </div>
</section>

<!-- Note Section -->
<section id="note-detail" class="py-4 main-content">
  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}
  <div class="container" style="width: 900px;">
    <div class="card shadow">
      <div class="card-header text-white text-center" style="background-color: #133757;">
        <h4>Note</h4>
      </div>
      <div class="card-body">

        {% if  form.note_id.value %}
        <h3 class="card-title">Editing Note: {{ form.title.value }}</h3>
        <!-- Tab Buttons -->
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-detail-tab" data-toggle="pill" href="#detail" role="tab"
              aria-controls="pills-detail" aria-selected="true">Detail</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-notes-tab" data-toggle="pill" href="#exams" role="tab"
              aria-controls="pills-notes" aria-selected="false">Exams</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-exams-tab" data-toggle="pill" href="#events" role="tab"
              aria-controls="pills-events" aria-selected="false">Events</a>
          </li>
        </ul>
        {% else %}
        <h3 class="card-title">Create New Note</h3>
        {% endif %}

        <!-- Tab Content -->
        <div class="tab-content" id="pills-tabContent">
          <!-- Detail -->
          <div class="tab-pane fade show active" id="detail" role="tabpanel" aria-labelledby="pills-detail">

            <form method="POST">
              {% csrf_token %}
              {{ form.note_id }}
              <div class="row">
                <div class="col-12">
                  <label for="{{ form.title.name }}" class="col-form-label">
                    {{ form.title.label }}{% if form.title.field.required %}<span class="required">*</span>{% endif %}
                  </label>
                  {{ form.title }}
                </div>
                <div class="col-6">
                  <label for="{{ form.event.title }}" class="col-form-label">
                    {{ form.event.label }}{% if form.event.field.required %}<span class="required">*</span>{% endif %}
                  </label>
                  {{ form.event }}
                </div>
                <div class="col-12">
                  <label for="{{ form.description.name }}" class="col-form-label">
                    {{ form.description.label }}{% if form.description.field.required %}<span
                      class="required">*</span>{% endif %}
                  </label>
                  {{ form.description }}
                </div>
              </div>

              <button type="submit" class="btn btn-block btn-success mt-4">Save</button>

            </form>

            {% if form.note_id.value %}
            <a href="javascript:{document.getElementById('remove').submit()}"" class=" btn btn-block btn-danger
              text-white mt-4">Remove</a>
            <form action="{% url 'note_remove' %}" id="remove" method="POST">
              {% csrf_token %}
              {{ form.note_id }}
              <input type="hidden" name="is_detail" value="true">
              <input type="hidden">
            </form>
            {% endif %}

          </div>
          {% if exams %}
          <!-- Exams -->
          <div class="tab-pane fade" id="exams" role="tabpanel" aria-labelledby="pills-exams">
            <table id="exam-list" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Event</th>
                  <th scope="col">Created Date</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>

                <!-- Display exams -->
                {% if exams %}

                {% for exam in exams %}

                <tr>
                  <td>{{ exam.title }}</td>
                  <td>{{ exam.exam }}</td>
                  <td>{{ exam.created_date }}</td>
                  <!-- Call detail view method (Uses urls path name) -->
                  <td><a href="{% url 'exam_detail' exam.id %}"><i class="fas fa-info-circle show-exam-detail"></i></a>
                  </td>
                </tr>

                {% endfor %}

                {% else %}

                <!-- No exams message? -->

                {% endif %}

              </tbody>
            </table>
          </div>

          {% if events %}
          <!-- Events -->
          <div class="tab-pane fade" id="events" role="tabpanel" aria-labelledby="pills-events">
            <table id="event-list" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Exam</th>
                  <th scope="col">Created Date</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>

                <!-- Display events -->
                {% if events %}

                {% for event in events %}

                <tr>
                  <td>{{ event.title }}</td>
                  <td>{{ event.exam }}</td>
                  <td>{{ event.created_date }}</td>
                  <!-- Call detail view method (Uses urls path name) -->
                  <td><a href="{% url 'event_detail' event.id %}"><i
                        class="fas fa-info-circle show-event-detail"></i></a>
                  </td>
                </tr>

                {% endfor %}

                {% else %}

                <!-- No events message? -->

                {% endif %}

              </tbody>
            </table>
          </div>
          {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}