{% extends 'base.html' %}

{% block title %}
  | Password Reset
{% endblock %}

{% block content %}

  <!-- Password Reset -->
  <section id="password-reset" class="py-4 main-content">
    <div class="container">

      <!-- Alerts -->
      {% include 'partials/_alerts.html' %}

      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card shadow">
            <div class="card-header text-white text-center" style="background-color: #133757;">
              <h4>Request Password Reset</h4>
            </div>
            <div class="card-body">
              <form method="POST">

                {% csrf_token %}

                <!-- <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" name="email" id="email" class="form-control" required>
                </div> -->

                {{ form.as_p }}

                <input type="submit" value="Reset Password" id="reset-pass-btn" class="btn btn-secondary btn-block ">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}