{% extends 'base.html' %}

{% block title %}
  | About
{% endblock %}

{% block content %}

  <!-- About -->
  <section id="about" class="py-4 main-content">
    <div class="container">
      <h2>About <span class="text-secondary">Jikan Control</span></h2>
      <p >	Jikan Control is an application, developed in python, developed for students, by students. Its main purpose is to help each user manage their most precious belonging, time. It is often the case that students have little sense of time, like how long does it take to study for an exam and actually get a good grade or where can I find the time to study for so many homeworks and exams, or even know if you have enough free time to complete whatever task you need to complete. These sort of problems is what we aim on solving. We want students to learn the rewards of organizing your time and what can be accomplish with it.</p>
      <p>	The Jikan Control team composed of: </p>
      <p>	Axviel Benitez - </p>
      <p>	Fernando L. Guzman - A software engineering student currently in his last semester at UPR Mayaguez. He has some experience in general web development. Used to be familiar with some backend development but recently has learned some front end as well as machine learning.</p>
      <p>	Angel R. Rivera - Is a computer scientist and engineer coursing his last semester in the UPR Mayaguez Campus. He has experience in image processing, web scraping, automatization, data bases, among others. He likes looking for simple problems that are yet missing a solution and he loves poetry. He is currently working in a sugar cane farm, automatizing all the processes on the farm.</p>
    </div>
  </section>

  {% endblock %}
