{% extends 'base.html' %}

{% block title %}
  | Home
{% endblock %}

{% block content %}

  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

  <section id="home" class="py-4 main-content">
    <h1>Hello</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas qui, laudantium debitis sed, atque vel quos minus incidunt, a eaque quidem cumque maiores? Cupiditate veniam soluta laborum ea eius, odio officiis vero ullam. Quaerat, iure? Perspiciatis deleniti cumque debitis, molestias explicabo earum illum? Ut tenetur necessitatibus, quidem atque voluptas minima maiores et aperiam culpa possimus? Pariatur inventore eligendi sunt dolorem unde atque quidem aut! Neque maxime, quia vero soluta debitis, quibusdam modi consequatur accusamus nobis dolorem numquam cumque doloribus. Facilis adipisci iste quas facere nihil, aut dolorem iusto unde culpa totam, debitis, praesentium tempore voluptatem vero saepe quaerat blanditiis eum!</p>

    <h1>Hello</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas qui, laudantium debitis sed, atque vel quos minus incidunt, a eaque quidem cumque maiores? Cupiditate veniam soluta laborum ea eius, odio officiis vero ullam. Quaerat, iure? Perspiciatis deleniti cumque debitis, molestias explicabo earum illum? Ut tenetur necessitatibus, quidem atque voluptas minima maiores et aperiam culpa possimus? Pariatur inventore eligendi sunt dolorem unde atque quidem aut! Neque maxime, quia vero soluta debitis, quibusdam modi consequatur accusamus nobis dolorem numquam cumque doloribus. Facilis adipisci iste quas facere nihil, aut dolorem iusto unde culpa totam, debitis, praesentium tempore voluptatem vero saepe quaerat blanditiis eum!</p>

    <h1>Hello</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas qui, laudantium debitis sed, atque vel quos minus incidunt, a eaque quidem cumque maiores? Cupiditate veniam soluta laborum ea eius, odio officiis vero ullam. Quaerat, iure? Perspiciatis deleniti cumque debitis, molestias explicabo earum illum? Ut tenetur necessitatibus, quidem atque voluptas minima maiores et aperiam culpa possimus? Pariatur inventore eligendi sunt dolorem unde atque quidem aut! Neque maxime, quia vero soluta debitis, quibusdam modi consequatur accusamus nobis dolorem numquam cumque doloribus. Facilis adipisci iste quas facere nihil, aut dolorem iusto unde culpa totam, debitis, praesentium tempore voluptatem vero saepe quaerat blanditiis eum!</p>
  </section>

{% endblock %}

