#calendar {
  background: #fff;
  overflow: hidden; 
  height: 100%;

  .calendar-change-year{
    font-size: 2rem;

    .calendar-change-year-slider {
      color: #737373; 
      border-bottom: 1px solid #999;
      padding: 0.5rem 0;
      margin: 0.5rem 0;

      .fa:hover {
        color: #404040; 
      }

    }
  }

  .calendar-month-list{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    border-bottom: 1px solid #999;
    margin: 1rem 0;

    .month-item{
      .active {
        color: $primary;
        font-weight: 600; 
      }

      &:hover{
        cursor: pointer;
        font-weight: 600;
      }
    }
  }

  .calendar-weekdays-list,
  .calendar-day-list{
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    .weekday-small{
      display: none;
    }
  }



  .calendar-day-list{
    border-bottom: 1px solid #bbb;
    border-left: 1px solid #bbb;
  }

  .calendar-month-list,
  .calendar-weekdays-list{
    text-align: center;
  }

  .month-item,
  .week-day-item,
  .day-item{
    height: 2rem;
    width: auto;
  }

  .week-day-item{
    font-weight: 600;
    color: #737373;
  }

  .day-item{
    height: 7.5rem;
    width: auto;
    border-top: 1px solid #bbb;
    border-right: 1px solid #bbb;
    padding: 5px;

    &.another-month .day-number{
      color: #bbb; 
    }

    .day-number{
      text-align: center;
      position: relative;
      z-index: 1;

      &:after{
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto; 
        border-radius: 50%;
        z-index: -1;
      }
    }

    &.active-day .day-number,
    &.selected-day .day-number{
      color: #fff;
    }

    &.selected-day .day-number:after{
      background: $primary; 
    }

    &.active-day .day-number:after{
      background: $secondary; 
    }

    &:hover{
      cursor: pointer;
    }

    .event{
      color: #fff;
      background: $primary;
      margin: 2px 4px;
      padding-left: 0.5rem;

      &.event-small{
        display: none;
      }
    }

    &.another-month{
      background: #f7f7f7;
    }
  }

  .calendar-week-list{
    display: flex;
    flex-direction: row;
  }

  .weekday-item{
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    flex: 1;
    display: flex;
    flex-direction: column;

    &:first-child{
      border-left: 1px solid #bbb;
      max-width: 50px;
    }

    .hour-item{
      min-height: 4.0rem;
      max-height: 4.0rem;
      width: auto;
      flex: 1;
      border-top: 1px solid #bbb;
      padding: 5px;

      &:last-child{
        border-bottom: none;
      }
    }

    .hour-item .event{
      color: #fff;
      background: $primary;
      border: 1px solid #fff;
      margin: 2px 0px;
      padding-left: 0.5rem;
    }
  }

  .calendar-week-weekdays-list{
    display: flex;
    flex-direction: row;

    &:first-child{
      max-width: 50px;
    }

    .week-day-item{
      flex: 1;
      text-align: center;

      &:first-child{
        max-width: 50px;
      }
    }

  }

}

#current-day-modal{
  .current-day-number, 
  .current-day-of-week, 
  .current-day-events {
    color: #333; 
  }

  .current-day-of-week, 
  .calendar-week {
    text-transform: uppercase; 
  }

  .current-day-body {
    height: 100%;
  }

  .current-day-events {
    margin-bottom: 1rem; 

    .current-day-events-list .current-event-item .fas {
      font-size: 1.35rem;
    }
  }

  .current-day-number {
    font-size: 92px; 
  }
}

.spread-1{
  height: 100px;
}
.spread-2{
  height: 150px;
}
.spread-3{
  height: 200px;
}
.spread-4{
  height: 250px;
}
.spread-5{
  height: 300px;
}
.spread-6{
  height: 350px;
}
.spread-7{
  height: 400px;
}
.spread-8{
  height: 450px;
}
.spread-9{
  height: 500px;
}
.spread-10{
  height: 550px;
}
.spread-11{
  height: 600px;
}
.spread-12{
  height: 650px;
}
.spread-13{
  height: 700px;
}
.spread-14{
  height: 750px;
}
.spread-15{
  height: 800px;
}
.spread-16{
  height: 850px;
}
.spread-17{
  height: 900px;
}
.spread-18{
  height: 950px;
}
.spread-19{
  height: 1000px;
}
.spread-20{
  height: 1050px;
}
.spread-21{
  height: 1100px;
}
.spread-22{
  height: 1150px;
}
.spread-23{
  height: 1200px;
}

@media (min-width: 1500px){
  #calendar .day-item .event.event-large,
  #calendar .hour-item .event.event-large{
    display: block;
    width: 22ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media (max-width: 1499px){
  #calendar .day-item .event.event-large,
  #calendar .hour-item .event.event-large{
    display: block;
    width: 20ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media (max-width: 1065px){
  #calendar .day-item .event.event-large{
    display: block;
    width: 12ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media (max-width: 610px){
  #calendar .day-item .event.event-small{
    font-size: 0.7rem;
  }
}

@media (max-width: 992px){
  #calendar .day-item .event.event-large,
  #calendar .hour-item .event.event-large{
    display: block;
    width: 11ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
  }

  #calendar .day-item .event.event-large
  {
    width: 12ch;
  }

  .day-item{
    padding: 0.125rem !important;
  }

  .day-item .event{
    margin: 1px 0 !important;
    padding: 0.125rem !important;
  }
}

@media (max-width: 576px){
  .calendar-current-month,
  .calendar-current-year{
    font-size: 1.25rem;
  }

  .weekday-small{
    display: block;
  }

  .weekday-large{
    display: none;
  }

  .event,
  .hour-item{
    font-size: 0.75rem;
    padding: 0.125rem !important;
  }

  .hour-item{
    width: 45.75px !important;
  }

  .day-item{
    width: 52.42px !important;
    height: 100px !important;
    padding: 0.125rem !important;
  }

  .day-item .event{
    margin: 2px 0 !important;
    font-size: 0.65rem;
  }

  .container-xxl{
    margin: 0;
    padding: 0;
  }

  #calendar .day-item .event.event-large,
  #calendar .hour-item .event.event-large{
    display: block;
    width: 6ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
  }

  #calendar .day-item .event.event-large{
    width: 8ch;
  }

}