// Overlay mixin
@mixin overlay($color, $opacity, $height) {
  min-height: $height;
  width: 100%;
  background: rgba($color, $opacity);
}

.btn-secondary {
  color: #fff !important;
}

.navbar {
  text-transform: uppercase;
}

#home {
  .home-image{
    background: url(../img/general/home.jpg) no-repeat top center;
    min-height: 60vh;
    color: #fff;
    padding-top: 6rem; 
  }

  .home-container{
    min-height: 20vh;
  }

  .overlay {
    @include overlay(#333, 0.8, 20vh);
  }
}

#dashboard-showcase {

  .dashboard-image{
    background: url(../img/general/dashboard.jpeg) no-repeat top center;
    min-height: 60vh;
    color: #fff;
    padding-top: 6rem; 
  }

  .dashboard-container{
    min-height: 20vh;
  }

  .overlay {
    @include overlay(#333, 0.8, 20vh);
  }
}

@media (max-width: 991px) {
  #home {
    padding-top: 4rem;
    h1 {
      font-size: 40px;
    }
  }
}

@media (max-width: 768px) {
  #home {
    padding-top: 3rem;
    h1 {
      font-size: 40px;
    }
    p {
      display: none;
    }
  }
}

@media (max-width: 576px) {
  #home {
    h1 {
      font-size: 30px;
    }
  }

  #dashboard-showcase h1 {
    font-size: 40px;
  }
}
