{% extends 'base.html' %}

{% load static %}

{% block title %}
| Course Search
{% endblock %}

{% block content %}

<!-- Alerts -->
{% include 'partials/_alerts.html' %}

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'calendar' %}">
            <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'course_list' %}">Courses</a>
        </li>
        <li class="breadcrumb-item active">Search</li>
      </ol>
    </nav>
  </div>
</section>

<!-- Course Section -->
<section id="courses" class="py-4 main-content">
  <div class="container">
    <div class="card shadow">
      <div class="card-header text-white text-center" style="background-color: #133757;">
        <h3>Course Search</h3>
      </div>
      <!-- Course Search form Section -->
      <div class="card-body">
        <div class="d-flex justify-content-center">
          <form action="{% url 'course_search' %}" style="width: 700px;">
            {% csrf_token %}
            <div class="row pb-4">
              <div class="col-6">
                <label for="{{ form.title.name }}" class="col-form-label">
                  {{ form.title.label }}
                </label>
                {{ form.title }}
              </div>
            </div>

            <button type="submit" class="btn btn-block btn-success mb-4">Search</button>

          </form>
        </div>
      </div>
    </div>

    <!-- Course List -->
    <div class="mx-0 shadow">
      <div class="align-items-center row mx-0 bg-dark" style="height: 50px;">
        <h4 class="text-light ml-3">Results:</h4>
      </div>
      <table id="course-list" class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>

          <!-- Display courses -->

          {% for course in courses %}

          <tr>
            <td>{{ course.title }}</td>
            <td>{{ course.description }}</td>
            <!-- Call detail view method (Uses urls path name) -->
            <td><a href="{% url 'course_detail' course.id %}"><i class="fas fa-info-circle show-course-detail"></i></a>
            </td>
          </tr>

          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
</section>

{% endblock %}