{% extends 'base.html' %}

{% block content %}

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'calendar' %}">
            <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'course_list' %}">Courses</a>
        </li>
        {% if  form.course_id.value %}
        <li class="breadcrumb-item active">{{ form.title.value }}</li>
        {% else %}
        <li class="breadcrumb-item active">New</li>
        {% endif %}
      </ol>
    </nav>
  </div>
</section>

<!-- Course Section -->
<section id="course-detail" class="py-4 main-content">
  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}
  <div class="container" style="width: 900px;">
    <div class="card shadow">
      <div class="card-header text-white text-center" style="background-color: #133757;">
        <h4>Course</h4>
      </div>
      <div class="card-body">

        {% if  form.course_id.value %}
        
        <h3 class="card-title">Editing Course: {{ form.title.value }}</h3>

        {% else %}
        <h3 class="card-title">Create New Course</h3>
        {% endif %}

        <!-- Tab Content -->
        <div class="tab-content" id="pills-tabContent">
          <!-- Detail -->
          <div class="tab-pane fade show active" id="detail" role="tabpanel" aria-labelledby="pills-detail">

            <form method="POST">
              {% csrf_token %}
              {{ form.course_id }}
              <div class="row">
                <div class="col-12">
                  <label for="{{ form.title.name }}" class="col-form-label">
                    {{ form.title.label }}{% if form.title.field.required %}<span class="required">*</span>{% endif %}
                  </label>
                  {{ form.title }}
                </div>
                <div class="col-12">
                  <label for="{{ form.description.name }}" class="col-form-label">
                    {{ form.description.label }}{% if form.description.field.required %}<span
                      class="required">*</span>{% endif %}
                  </label>
                  {{ form.description }}
                </div>
              </div>

              <button type="submit" class="btn btn-block btn-success mt-4">Save</button>

            </form>

            {% if form.course_id.value %}
            <a href="javascript:{document.getElementById('remove').submit()}"
              class="btn btn-block btn-danger text-white mt-4">Remove</a>
            <form action="{% url 'course_remove' %}" id="remove" method="POST">
              {% csrf_token %}
              {{ form.course_id }}
              <input type="hidden" name="is_detail" value="true">
              <input type="hidden">
            </form>
            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}