{% extends 'base.html' %}

{% load static %}

{% block title %}
  | Courses
{% endblock %}

{% block content %}

<!-- Alerts -->
{% include 'partials/_alerts.html' %}

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'calendar' %}">
            <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item active"> Course List</li>
      </ol>
    </nav>
  </div>
</section>

<!-- Course Section -->
<section id="courses" class="py-4 main-content">
  <div class="container">
    <div class="row justify-content-between pb-4 mx-0">
      <h2>Courses</h2>
      <a class="btn btn-secondary" href="{% url 'course_search' %}">Search Courses</a>  
      <a class="btn btn-secondary" href="{% url 'course_detail' %}">New Course</a>   
    </div>

    <!-- Course List -->
    <table id="course-list" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>

        <!-- Display courses -->
        {% if courses %}

          {% for course in courses %}

            <tr course-id="{{ course.id }}">
              <td>{{ course.title }}</td>
              <td>{{ course.description }}</td>
              <!-- Call detail view method (Uses urls path name) -->
              <td>
                <div class="grid-actions text-center">
                  <a href="{% url 'course_detail' course.id %}"><i class="fas fa-info-circle cursor-pointer show-course-detail"></i></a>
                  <i class="fas fa-trash-alt cursor-pointer text-danger remove-course mr-2"></i>
                </div>
              </td>
            </tr>

          {% endfor %}

        {% else %}

          <!-- No courses message? -->

        {% endif %}

      </tbody>
    </table>

    <!-- Pagination (42) -->
    <div class="row">
      <div class="col-md-12">

        <!-- Check if there are other pages -->
        {% if courses.has_other_pages %}
          <ul class="pagination">
            {% if courses.has_previous %}
              <!-- Previous Button -->
              <li class="page-item">
                <a href="?page={{courses.previous_page_number}}" class="page-link">&laquo;</a>
              </li>
            {% else %}
              <!-- Disabled arrow -->
              <li class="page-item disabled">
                <a class="page-link">&laquo;</a>
              </li>
            {% endif %}

            {% for i in courses.paginator.page_range %}
              {% if courses.number == i %}
                <!-- Active link -->
                <li class="page-item active">
                  <a class="page-link">{{i}}</a>
                </li>
                {% else %}
                <!-- Not active link -->
                  <li class="page-item">
                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                  </li>
              {% endif %}
            {% endfor %}

            {% if courses.has_next %}
              <!-- Next Button -->
              <li class="page-item">
                <a href="?page={{courses.next_page_number}}" class="page-link">&raquo;</a>
              </li>
            {% else %}
              <!-- Disabled arrow -->
              <li class="page-item disabled">
                <a class="page-link">&raquo;</a>
              </li>
            {% endif %}
          </ul>
        {% endif %}

      </div>
    </div>

  </div>
</section>

<script src="{% static 'js/course_list.js' %}"></script>

{% endblock %}
