{% extends 'base.html' %}

{% load static %}

{% block title %}
| Events
{% endblock %}

{% block content %}

<!-- Alerts -->
{% include 'partials/_alerts.html' %}

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'calendar' %}">
            <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item active"> Event List</li>
      </ol>
    </nav>
  </div>
</section>

<!-- Event Section -->
<section id="events" class="py-4 main-content">
  <div class="container">
    <div class="mx-0 shadow">
      <div class="align-items-center row justify-content-between mx-0 rounded-top"
        style="background-color: #133757; height: 80px;">
        <h2 class="text-light ml-3">Events</h2>
        <div class="btn-group mr-3" role="group" aria-label="Basic example">
          {% if events %}
          <a class="btn btn-light rounded-left" href="{% url 'event_search' %}">Search Events</a>
          {% else %}
          <a href="#" class="btn btn-light rounded-left disabled" role="button" aria-disabled="true">Search Events</a>
          {% endif %}
          <a class="btn btn-light rounded-right" href="{% url 'event_detail' %}">New Event</a>
        </div>
      </div>

      <!-- Event List -->
      <table id="event-list" class="table table-hover table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Type</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">Repeat</th>
            <th scope="col">Date</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>

          <!-- Display events -->
          {% if events %}

          {% for event in events %}

          <tr event-id="{{ event.id }}">
            <td>{{ event.title }}</td>
            <td>{{ event.event_type }}</td>
            <td>{{ event.start_time }}</td>
            <td>{{ event.end_time }}</td>
            <td>{{ event.repeat_type }}</td>
            <!-- Use humanize app to format date? (41) -->
            <td>{{ event.start_date }}</td>
            <!-- Call detail view method (Uses urls path name) -->
            <td>
              <div class="grid-actions text-center">
                <a href="{% url 'event_detail' event.id %}"><i
                    class="fas fa-info-circle cursor-pointer show-event-detail"></i></a>
                {% if not event.end_date %}
                <i class="fas fa-check cursor-pointer text-success complete-event mx-2"></i>
                {% endif %}
                <i class="fas fa-trash-alt cursor-pointer text-danger remove-event mr-2"></i>
              </div>
            </td>
          </tr>

          {% endfor %}

          {% else %}

          <!-- No events message? -->
          <tr>
            <td colspan="10">
              <h4 class="text-center">No Events</h4>
            </td>
          </tr>

          {% endif %}

        </tbody>
      </table>

      <!-- Pagination (42) -->
      <div class="row">
        <div class="col-md-12">

          <!-- Check if there are other pages -->
          {% if events.has_other_pages %}
          <ul class="pagination">
            {% if events.has_previous %}
            <!-- Previous Button -->
            <li class="page-item">
              <a href="?page={{events.previous_page_number}}" class="page-link">&laquo;</a>
            </li>
            {% else %}
            <!-- Disabled arrow -->
            <li class="page-item disabled">
              <a class="page-link">&laquo;</a>
            </li>
            {% endif %}

            {% for i in events.paginator.page_range %}
            {% if events.number == i %}
            <!-- Active link -->
            <li class="page-item active">
              <a class="page-link">{{i}}</a>
            </li>
            {% else %}
            <!-- Not active link -->
            <li class="page-item">
              <a href="?page={{i}}" class="page-link">{{i}}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if events.has_next %}
            <!-- Next Button -->
            <li class="page-item">
              <a href="?page={{events.next_page_number}}" class="page-link">&raquo;</a>
            </li>
            {% else %}
            <!-- Disabled arrow -->
            <li class="page-item disabled">
              <a class="page-link">&raquo;</a>
            </li>
            {% endif %}
          </ul>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</section>

<script src="{% static 'js/events.js' %}"></script>

{% endblock %}